<!doctype html>
<head><title>Помощ</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styling.css') }}">
    <meta charset=utf-8> 
</head>
<body>
	<div class="center">
		<span class="span_special">
		<h2>Основно</h2>
		<p>
		Задължително се въвежда седмица и ден, или дата.
		</p>
		<p>
		При празен номер на стая се извеждат всички стаи със свободни места в този ден.
		<br> 
		Може да се въведе и час при което се извеждат всички стаи със свободни места в този час, в избраният ден.
		</p>
		<h2>Вход</h2>
		<p>
		Без вход може само да се извежда списък с резултати.
		</p>
		<p>
		При вход като обикновен потребител може да се заемат стаи, или да се премахват тези които са заети от вас.
		</p>
		<p>
		Лица с административни права могат да премахват въведени резервации.
		</p>
		<br>
		<a href="/">
			<button type="button" value="back" name="back_button">Назад</button>
		</a>
		</span>
	</div>
</body>